<br><br>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ajouter un nouveau film</li>
        </ol>
</nav>

<div class="formulaire">
        <div class="row">
                <div class="col">
                </div>
                <div class="col-6">
                        <div *ngIf="message==true as value; else elseBlock">
                        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
                               Un nouveau film a été ajouté dans la base de données
                        </div>
                        
                        </div>

                        <ng-template #elseBlock></ng-template>

                        <form [formGroup]="movieForm" (ngSubmit)="submitForm();movieForm.reset()">
                                <div class="row text-center">
                                        <div class="col">
                                                <h6>NOUVEAU FILM</h6>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col ">
                                                <label for="titleField">Titre</label>
                                                <div *ngIf="movieForm.controls.titleField.errors?.['required']">
                                                        <span class="badge badge-danger">Titre obligatoire</span>
                                                </div>
                                        </div>
                                        <div class="col-8">
                                                <input class="form-control" name="titleField" type="text" formControlName="titleField">
                                                
                                        </div>
                
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col ">
                                                <label for="synopsisField">Synopsis</label>
                                        </div>
                                        <div class="col-8">
                                                <input class="form-control" name="synopsisField" type="text" formControlName="synopsisField">
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col ">
                                                <label for="ratingField">Note</label>
                                                <div *ngIf="movieForm.controls.synopsisField.errors?.['maxLength']">
                                                        <span class="badge badge-danger">La note est incorrecte</span>
                                                </div>
                                        </div>
                                        <div class="col-8">
                                                <select class="form-control" id="ratingField" formControlName="ratingField">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                </select>
                                                
                                        </div>
                                </div>     
                                <br>
                                <div class="row">
                                        <div class="col font-weight-bold">
                                                <button class="btn btn-block btn-success" type="submit" [disabled]="!movieForm.valid">Sauvegarder</button>
                                        </div>
                                </div>
                
                        </form>
                </div>
                <div class="col">

                </div>
        </div>
        
</div>