@import '~bootstrap/dist/css/bootstrap.min.css';
.menu {

}
.menu ul {
    background-color:cadetblue;
}
.menu ul li {
    display: inline-block;
    margin: 10px;
}
.menu ul li a {
    color:white;
}
h6 {
    color:cadetblue;
    font-weight: bold;
}
